<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>  
 <!-- 스프링과 ibatis를 연결 -->
 <bean id="boardService" class="dao.BoardDAOImpl" />
 <bean id="guestService" class="dao.GuestDAOImpl"/>
</beans>